// @import url("./components/accordion/accordion.scss");
// @import url("./components/panel/panel.scss");
// @import url("./components/panelItem/panelItem.scss");
// @import url("./components/toggleButton/toggleButton.scss");

.App {
  font-family: sans-serif;
  background-color: black;
  color: white;
  padding: 20px;
}
